.footer{

    background-color: black;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;

    // position: absolute;
    // bottom: -4rem;
    margin-top: 2rem;
    width: 99%;
    text-align: center;
}